In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.rand(200, 10))

In [3]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.216071,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.061010,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.822850,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
...,...,...,...,...,...,...,...,...,...,...
195,0.449000,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [4]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.216071,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.061010,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.822850,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
...,...,...,...,...,...,...,...,...,...,...
195,0.449000,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [5]:
type(df) # this is a data frame

pandas.core.frame.DataFrame

In [6]:
type(df[0])  # this is a series

pandas.core.series.Series

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.216071,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.061010,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.822850,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770

In [8]:
df.tail(2)

,0,1,2,3,4,5,6,7,8,9
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.489837,0.478573,0.486345,0.543659,0.467641,0.534864,0.500330,0.510907,0.486409,0.491413
std,0.289963,0.289338,0.296177,0.299148,0.286541,0.294749,0.280486,0.295921,0.285515,0.304586
min,0.005659,0.001935,0.000084,0.008979,0.004969,0.002210,0.008786,0.003656,0.001750,0.010193
25%,0.228122,0.239126,0.221385,0.290455,0.216284,0.300422,0.267526,0.254155,0.247195,0.248679
50%,0.462248,0.468201,0.488111,0.589662,0.442784,0.523915,0.497530,0.514159,0.465358,0.462673
75%,0.768842,0.714277,0.752133,0.815955,0.709462,0.802004,0.751399,0.764401,0.713234,0.774398
max,0.998549,0.997896,0.995814,0.999944,0.997148,0.991876,0.993724,0.996599,0.996616,0.981961

In [10]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [11]:
df[0][3] #column, row

0.8263248776308011

In [12]:
type(df[1]) # a series

pandas.core.series.Series

In [13]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9
0,0.216071,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416

In [14]:
df2 = df.copy()

In [15]:
df2

,0,1,2,3,4,5,6,7,8,9
0,0.216071,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.061010,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.822850,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
...,...,...,...,...,...,...,...,...,...,...
195,0.449000,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [16]:
df2[0][0] = 'karim'

In [17]:
df2.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [18]:
df2.loc[0,0] = 0.34534534     # good practise to change value

In [19]:
df2

,0,1,2,3,4,5,6,7,8,9
0,0.345345,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.06101,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.82285,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
...,...,...,...,...,...,...,...,...,...,...
195,0.449,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [20]:
df2.columns = list('ABCDEFGHIJ')

In [21]:
df2

,A,B,C,D,E,F,G,H,I,J
0,0.345345,0.005255,0.263329,0.510803,0.074908,0.869692,0.993172,0.349853,0.271869,0.038416
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.06101,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.82285,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
...,...,...,...,...,...,...,...,...,...,...
195,0.449,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [22]:
df2 = df2.drop(0)
df2

,A,B,C,D,E,F,G,H,I,J
1,0.430835,0.066096,0.904928,0.422760,0.114506,0.591123,0.044598,0.906511,0.643199,0.451476
2,0.06101,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
3,0.826325,0.182831,0.873375,0.826763,0.769137,0.297957,0.053951,0.883574,0.731513,0.133122
4,0.82285,0.870895,0.718883,0.786194,0.421744,0.180758,0.113736,0.666043,0.575748,0.963770
5,0.100744,0.826672,0.021452,0.847364,0.971997,0.743169,0.169308,0.400459,0.631124,0.356951
...,...,...,...,...,...,...,...,...,...,...
195,0.449,0.698109,0.633572,0.824120,0.259379,0.913207,0.310097,0.167481,0.206798,0.025224
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874
197,0.591181,0.359141,0.879668,0.117879,0.968641,0.918021,0.549584,0.112952,0.866561,0.877751
198,0.703703,0.892987,0.213925,0.225297,0.187937,0.862824,0.563228,0.986476,0.524819,0.036725
199,0.781856,0.941272,0.326507,0.240586,0.907338,0.783416,0.547975,0.181178,0.351814,0.137896

In [23]:
df2.loc[[1,2], ['C', 'D']]    # 1,2 row & C, D column

          C         D
1  0.904928  0.422760
2  0.771938  0.698227

In [28]:
df2.loc[(df2['A'] < 0.3)]

,A,B,C,D,E,F,G,H,I,J
2,0.06101,0.841251,0.771938,0.698227,0.735293,0.866332,0.280322,0.808174,0.833607,0.056699
5,0.100744,0.826672,0.021452,0.847364,0.971997,0.743169,0.169308,0.400459,0.631124,0.356951
11,0.278545,0.496500,0.059653,0.899300,0.637831,0.835098,0.152289,0.763248,0.473146,0.095271
13,0.005659,0.901468,0.120175,0.057655,0.725356,0.944662,0.376090,0.057030,0.829995,0.017278
15,0.167649,0.027828,0.132716,0.020236,0.034499,0.729565,0.500265,0.733236,0.343367,0.536633
...,...,...,...,...,...,...,...,...,...,...
184,0.174121,0.020914,0.174963,0.047960,0.077515,0.976212,0.255610,0.438125,0.908381,0.976138
187,0.044672,0.429462,0.186232,0.802170,0.738893,0.975929,0.458016,0.726551,0.541044,0.466912
191,0.201983,0.263105,0.696980,0.489497,0.433057,0.622135,0.008786,0.913227,0.177949,0.340629
193,0.079923,0.499544,0.496358,0.145175,0.468776,0.054617,0.397378,0.378480,0.294238,0.465114
196,0.152608,0.903665,0.428900,0.713549,0.386396,0.708520,0.524061,0.567184,0.903654,0.549874

In [30]:
df2.loc[(df2['A'] < 0.1) and (df2['C'] > 0.1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().